// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		// margin-top: rem-calc(60);
	}
}

.col5 {width:20%;}

#footer-top-container {
	background:transparent url(../images/gray-noise.jpg) repeat top left;
	padding:rem-calc(37 0);
	h3 {font-size:rem-calc(14);text-transform:uppercase;color:$white;margin:0;}
}

.footer-about, .footer-downloads, .footer-customer-services, .footer-product-categories {
	margin:rem-calc(0 0 20);
	list-style:none;
	a {font-size:rem-calc(14);color:$mex-light-blue;text-transform:uppercase;transition:all 350ms ease-in-out;}
	a:hover {color:$white;}
}

.footer-logo {
	text-align:left;
	display:block;
	width:rem-calc(170);
	height:auto;
	margin:rem-calc(0 0 20);
}

#footer-contact-item-1 {font-size:rem-calc(24);color:$white;text-align:left;font-family:$font-serif-medium;font-weight:bold;line-height:rem-calc(20);}
#footer-contact-item-2 {display:inline;text-align:left;position:relative;transition:all 350ms ease-in-out;border-bottom:rem-calc(1) solid $mex-light-blue;}
#footer-contact-item-2:before {position:absolute;bottom:rem-calc(-1);left:0;width:0;content:"";height:rem-calc(1);background:$white;transition:all 350ms ease-in-out;}
// #footer-top-container div.row div.columns.col5:nth-child(4) {text-align:left;}
#footer-contact-item-2:hover:before {width:100%;right:0;}
.footer-contact-item {display:block;font-size:rem-calc(14.5);color:$mex-light-blue;margin:0;}
.footer-contact-item:hover {color:$mex-light-blue;}

.footer-social-link {
	display:block;
	margin:rem-calc(8 0 0 8);
	transition:all 350ms ease-in-out;
	.fa {transition:all 350ms ease-in-out;}
	.fa-stack {font-size:2rem;}
	.fa.fa-square.fa-stack-2x {color:$jet;background:$jet;margin:0;}
}

.footer-social-link-label {
	font-size:rem-calc(14);color:$mex-light-blue;text-transform:uppercase;margin:rem-calc(0 0 0 8);transition:all 350ms ease-in-out;
}

.footer-social-link:hover {
	transition:all 350ms ease-in-out;
	.fa-facebook {color:#3b5998;}
	.fa-twitter {color:#00aced;}
	.fa-youtube {color:#e52d27;}
	.footer-social-link-label {color:$white;transition:all 350ms ease-in-out;}
}

#newsletter-container {
	background:$mex-light-blue;
	border-top:rem-calc(5) solid $white;
	padding:rem-calc(30 0);
	label {color:$mex-dark-blue;text-transform:uppercase;font-size:rem-calc(20);}
	.input-text {background-color:transparent;box-shadow:none;border:rem-calc(1) solid $white;height:rem-calc(30);width:100%;line-height:rem-calc(30);padding:rem-calc(0 5);}
	input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {margin:0;}
	.button {margin:0;padding:rem-calc(4 10);display:block;width:100%;background-color:transparent;border:rem-calc(1) solid $white;color:$mex-dark-blue;text-transform:uppercase;height:rem-calc(30);}
	
	:-webkit-input-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:-moz-placeholder {
		color: $white;
		opacity:  1;
	}
	
	::-moz-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:-ms-input-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:placeholder-shown {
		color: $white;
		opacity:  1;
	}
	
}

@media only screen and (max-width: ($medium-breakpoint)) {
	#newsletter-container {
		.form-subscribe-header {text-align:center;}
	}
}

@media only screen and (max-width: ($small-breakpoint)) {
	#newsletter-container {
		.form-subscribe-header {float:none;display:block;margin:rem-calc(0 0 20);}
		input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {margin:rem-calc(0 0 20);}
	}
}

#footer-top-container {
	.category-menu-info {display:none;}
}

#footer-mid-container {
	background:$black;
	border-bottom:rem-calc(1) solid $oil;
	padding:rem-calc(10 0);
	ul {
		list-style:none;
		margin:0;
		display:block;
	}
	li {float:left;margin:rem-calc(0 46 0 0);}
	a {font-size:rem-calc(13);color:$white;text-transform:uppercase;letter-spacing:rem-calc(3);}
}
#footer-bottom-container {
	background:$black;
	border-bottom:rem-calc(5) solid $oil;
	padding:rem-calc(10 0);
	p {margin:0;font-size:rem-calc(13);color:$white;}
	a {color:$white;}
}

#the-cookie-notice {
background:$white;
border:none;
padding:rem-calc(10 0);
text-align:left;
margin:0;
// .close {position:static;margin:0;background:$mex-light-blue;opacity:1;padding:rem-calc(8 25);color:$mex-dark-blue;font-size:rem-calc(16);text-transform:uppercase;border:rem-calc(1) solid $mex-dark-blue;}
.close {position:relative;margin:0;right:auto;top:auto;}
.close span {position:relative;top:rem-calc(3);}
p {margin:0;font-size:rem-calc(14);text-align:left ! important;}
.notice-read-more {color:$mex-blue;position:relative;top:rem-calc(1.5);}
.cookie-privacy-link {color:$mex-blue;}
.cookie-row {display:block;max-width:96em;margin:0 auto;}

.slide-link {
	display:inline;transition:all 350ms ease-in-out;position:relative ! important;padding:rem-calc(0 10 0 35) ! important;z-index:1;opacity:1.0 ! important;margin:rem-calc(0 0 0 10) ! important;font-size:rem-calc(14);text-transform:uppercase;bottom:rem-calc(1.5);
}

.slide-link:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(10);bottom:rem-calc(-7);z-index:-1;font-size:rem-calc(30);}
.slide-link:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(1);background:$mex-light-blue;width:rem-calc(20);height:rem-calc(20);border-radius:rem-calc(10);z-index:-2;}
.slide-link:hover:after {transition:all 350ms ease-in-out;right:0;width:100%;}
}