// backup styles for Admin Wholesale Hide Fields - Just in case...

/* Remove Wholesale Jazz from Admin */
/*
.adminhtml-customer-edit label[for="_accountlogo_image"],
.adminhtml-customer-edit label[for="_accountpaymentmethods"],
.adminhtml-customer-edit label[for="_accountstore_type"],
.adminhtml-customer-edit label[for="_accountiswebsite_live"],
.adminhtml-customer-edit label[for="_accountdate_founded"],
.adminhtml-customer-edit label[for="_accountaccountspayable_email"] {display:none ! important;}

.adminhtml-customer-edit #_accountlogo_image,
.adminhtml-customer-edit #_accountpaymentmethods,
.adminhtml-customer-edit #_accountstore_type,
.adminhtml-customer-edit #_accountiswebsite_live,
.adminhtml-customer-edit #_accountdate_founded,
.adminhtml-customer-edit #_accountaccountspayable_email {display:none ! important;}

.adminhtml-customer-edit #note_logo_image,
.adminhtml-customer-edit #note_paymentmethods,
.adminhtml-customer-edit #note_store_type,
.adminhtml-customer-edit #note_iswebsite_live,
.adminhtml-customer-edit #note_date_founded,
.adminhtml-customer-edit #note_accountspayable_email {display:none ! important;}
*/
/* 
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

#inspired-development {visibility:hidden;}

// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	max-width:rem-calc(1920);
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

// Mexco Sidebar Navigation

#mexco-sidebar-nav {

	.sidebar-nav-title {position:relative;margin:rem-calc(0 0 -1);color:$mex-dark-blue;}
	.accordion-navigation.active .sidebar-nav-title:after {content:$ionicon-var-ios-close-empty;}
	.accordion-navigation .sidebar-nav-title:after {font-family:$ionicons-font-family;content:$ionicon-var-ios-plus-empty;position:absolute;bottom:rem-calc(-10);right:rem-calc(10);font-size:rem-calc(35);}
	.accordion .accordion-navigation > a, .accordion dd > a {padding:rem-calc(5 10);text-transform:uppercase;background:$mex-light-blue;border:rem-calc(1) solid $mex-dark-blue;font-family:$font-serif-medium;}
	.content ul {list-style:none;margin:0;}
	.accordion .accordion-navigation > .content, .accordion dd > .content {padding:rem-calc(5 10);}
	.category-menu-info {display:none;}
}

// Talk to Us - Sidebar

#talk-to-us {
	p {color:$mex-dark-blue;}
	border-top:rem-calc(1) solid $mex-dark-blue;
	margin:rem-calc(15 0 0);
	padding:rem-calc(15 0);
	text-align:center;
	text-transform:uppercase;
	font-family:$font-serif-medium;
	a {display:block;font-size:rem-calc(24);color:$mex-dark-blue;}
}

// Global Page / Post Styles

hr {border-color:$mex-dark-blue;}

.entry-title {font-size:rem-calc(36);line-height:rem-calc(28);margin:rem-calc(0 0 30);color:$mex-dark-blue;}

.entry-content p {color:$mex-dark-blue;}

// Slide Hover

.slide-link {
	display:inline;transition:all 350ms ease-in-out;position:relative ! important;padding:rem-calc(0 10 0 50) ! important;z-index:1;opacity:1.0 ! important;margin:rem-calc(0 0 0 10) ! important;
}

.slide-link:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(15);bottom:rem-calc(-9);z-index:-1;font-size:rem-calc(40);}
.slide-link:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(1);background:$mex-light-blue;width:rem-calc(30);height:rem-calc(30);border-radius:rem-calc(15);z-index:-2;}
.slide-link:hover:after {transition:all 350ms ease-in-out;right:0;width:100%;}

// Small

.slide-link-small {
	display:inline;transition:all 350ms ease-in-out;position:relative ! important;padding:rem-calc(0 10 0 45) ! important;z-index:1;opacity:1.0 ! important;margin:rem-calc(20 0 0 10) ! important;height:rem-calc(30);line-height:rem-calc(30);
}

.slide-link-small:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(15);top:rem-calc(-5);z-index:-1;height:rem-calc(30);line-height:rem-calc(30);font-size:rem-calc(40);}
.slide-link-small:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(-5);background:$mex-light-blue;width:rem-calc(30);height:rem-calc(30);line-height:rem-calc(30);border-radius:rem-calc(15);z-index:-2;}
.slide-link-small:hover:after {transition:all 350ms ease-in-out;right:0;width:100%;}

// Off Canvas Login

.move-left .exit-off-canvas {
	position:absolute;
	top:rem-calc(0);
	left:rem-calc(10);
	right:auto;
	bottom:auto;
	background:none;
	box-shadow:none;
	color:$white;
	font-size:rem-calc(50);
}

.exit-off-canvas {
	position:absolute;
	top:rem-calc(-5);
	left:rem-calc(20);
	right:auto;
	bottom:auto;
	background:none;
	box-shadow:none;
	color:$white;
	font-size:rem-calc(50);
}

.forgot-reveal p.required em {display:inline;position:relative;left:rem-calc(-10);top:rem-calc(5);}

.right-off-canvas-menu-inner {
	padding:rem-calc(20);
	color:$white;
	font-family:$font-serif-medium;
}

#slide-account-header {
	text-align:center;
	a {display:block;margin:rem-calc(10 0);color:$white;}
	span {display:block;margin:rem-calc(10 0);color:$white;}
	border-bottom:rem-calc(1) solid $white;
	margin:rem-calc(0 0 30);
}

#slide-account-content {
	.button {background-color:transparent;border:rem-calc(1) solid $white;color:$white;text-transform:uppercase;font-family:$font-serif-medium;padding:rem-calc(7 5 5);}
	text-align:center;
	.block-login {
		label {text-align:left;color:$white;font-family:$font-serif-medium;font-weight:inherit;font-size:rem-calc(16);}
	}
	h5 {font-family:$font-serif-medium;color:$white;text-transform:uppercase;}
	p {font-family:$font-family-sans-serif;}
	.forgot-reveal {
	display:none;
		label {
			text-align:left;
			color:$white;
			font-family:$font-serif-medium;
			font-size:rem-calc(16);
			em {margin-right:rem-calc(10);}
		}
		.buttons-set p {margin:0}
	}
	.forgot-reveal ul {list-style:none;margin:0;}
	.canvas-password-forgot {cursor:pointer;}
}

#slide-account-content-bottom {

	border-top:rem-calc(1) solid $white;
	margin:rem-calc(10 0 0);
	padding:rem-calc(10 0 0);

}

#slide-account-footer {
	border-top:rem-calc(1) solid $white;
	#talk-to-us {a, p {color:$white;}}
}

// Account menu

.stockist-account-menu {
	list-style:none;
	margin:0;
	padding:rem-calc(0 0 10);
	li {display:block;}
	a {
		border:rem-calc(1) solid $white;
		display:block;
		color:$white;
		text-transform:uppercase;
		font-family:$font-serif-medium;
		padding:rem-calc(7 5 5);
		margin:rem-calc(0 0 10);
	}
}

// Breadcrumbs

.breadcrumbs {border:none;margin:0;}
// .breadcrumbs > * {text-transform:none;}
.breadcrumbs > *::before {font-family:"FontAwesome";content:"\f105";margin:rem-calc(0 7);color:$mex-dark-blue;font-size:rem-calc(18);}
.breadcrumbs li strong {font-weight:normal;color:$mex-blue;}
.breadcrumbs li.current {font-weight:normal;color:$mex-blue;}
.breadcrumbs .home {margin:rem-calc(0 5 0 0);}
.breadcrumbs .item-home {margin:rem-calc(0 5 0 0);}
.breadcrumbs .product {margin:rem-calc(0 0 0 2);}
.breadcrumbs-container {background:$mex-gray;margin:rem-calc(0 0 40);padding:rem-calc(10 0);}

// Minicart

.minicart-container-binder:hover {
	.minicart-wrapper {
		display:block;
		position:absolute;
		top:rem-calc(40);right:rem-calc(-15);
		width:rem-calc(340);
		z-index:100;
		background:$mex-blue;
		padding:rem-calc(15);
		color:$white;
	}
}

.minicart-container-binder {
	position:relative;
	float:right;
	display:block;
	.minicart-wrapper {
		display:none;
	}

}

#the-header-cart {
	color:$white;
	#cart-sidebar {
	margin:0;
	list-style:none;
	.item {border-bottom:rem-calc(1) solid $white;margin:rem-calc(0 0 10);}
	}
	.product-image {float:left;margin:rem-calc(5 5 5 0);}
	.product-details {
	a {color:$white;}
	float:right;
	width:rem-calc(250);
	table {background:none;border:none;margin:rem-calc(0 0 10);width:100%;}
	table th, table td {float:left;padding:rem-calc(0 5 5 0);color:$white;line-height:rem-calc(30);}
	table tr {float:left;width:50%;line-height:rem-calc(30);height:rem-calc(30);}
	table tr.even, table tr.alt, table tr:nth-of-type(2n) {background:none;}
	.product-name {text-align:left;text-transform:uppercase;margin:0;font-family:$font-serif-medium;}
	.product-name a {color:$white;}
	.cart-item-quantity {float:left;width:rem-calc(40);height:rem-calc(30);}
	.quantity-button {float:left;padding:rem-calc(0 10);height:rem-calc(30);width:rem-calc(50);margin:0;}
	}
	.subtotal {
		.label {background:$mex-dark-blue;display:block;text-align:center;text-transform:uppercase;padding:rem-calc(5);font-size:rem-calc(16);font-family:$font-serif-medium;margin:rem-calc(10 0);}
		.price {display:block;font-size:rem-calc(24);text-align:center;color:$white;}
	}
	.checkout-types.minicart {
		display:block;
		list-style:none;
		margin:0;
		.button {text-transform:uppercase;font-family:$font-serif-medium;}
	}
	.cart-link {display:block;text-transform:uppercase;font-family:$font-serif-medium;color:$white;text-align:center;}
	
}

// Headings

h1 {font-family:$font-family-sans-serif;color:$mex-dark-blue;}
h2 {font-family:$font-family-sans-serif;color:$mex-dark-blue;}
h3 {font-family:$font-serif-medium;color:$mex-dark-blue;text-transform:uppercase;}
h4 {}

// Merged Search

.reloading {
	position:relative;
}

.reloading:after {
	position:absolute;
	font-family:"FontAwesome";
	top:rem-calc(6);left:rem-calc(50);
	content:"\f110";
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	z-index:10;
}

#magento-wordpress-search-results.reloading:after {
	left:48%;
	font-size:rem-calc(75);
}

#magento-wordpress-search-results {
	a.product-image {display:block;text-align:center ! important;}
	.product-item-category {display:none;}
	.products-grid.resulter {margin-bottom:rem-calc(30);}
	.product-slide-link {
		display:inline;transition:all 350ms ease-in-out;position:relative ! important;padding:rem-calc(0 10 0 40) ! important;z-index:1;opacity:1.0 ! important;margin:0 ! important;color:$mex-dark-blue;background-color:transparent;
		span {position:relative;top:rem-calc(3);}
		cursor:pointer;
	}
	.product-slide-link:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(13);bottom:rem-calc(-21);z-index:-1;font-size:rem-calc(35);}
	.product-slide-link:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(1);background:$mex-light-blue;width:rem-calc(25);height:rem-calc(25);border-radius:rem-calc(15);z-index:-2;}
	.product-slide-link:hover:after {transition:all 350ms ease-in-out;right:0;width:100%;}
	.product-range-image img {width:auto;height:rem-calc(50);}
	.products-item-result article:first-child {border-top:rem-calc(1) solid $mex-dark-blue;}
	.products-item-result article:not(:last-child) {border-bottom:rem-calc(1) solid $mex-dark-blue;}
	.products-item-result .hentry {padding:rem-calc(20 0);}
	.byline.author {display:none;}
}

#wpmage-search-result-title {
	font-size:rem-calc(28);
	text-align:center;
}

.overlay-the-canvas {
	transform:none;
}

.underlay-the-canvas {
	transform: translate3d(100%, 0px, 0px);
}

.exit-off-canvas:hover {color:$white;}

.right-off-canvas-menu {top:rem-calc(101);}

// .menu-hotspot {display:none;}

.required {position:relative;padding-left:rem-calc(15);}
.required em {color:red;font-size:rem-calc(20);position:absolute;left:0;}

// Anchor Transition in Content
/*
.entry-content a {position:relative;}
.entry-content a:before {position:absolute;bottom:rem-calc(-1);left:0;width:0;content:"";height:rem-calc(1);background:$mex-dark-blue;transition:all 350ms ease-in-out;}
.entry-content a:hover:before {width:100%;right:0;}
*/
 
.product-menu-hotspot-inner {position:absolute;top:0;right:0;bottom:0;left:0;background:$white;}