// Laptop Down

@media only screen and (max-width: ($topbar-breakpoint)) {

	#home-calls-container {
		margin:0;
	}
	
	#the-category-item-2 .the-category-item-image {
		border:none ! important;
	}
	
}

@media only screen and (max-width: ($large-breakpoint)) {

}

@media only screen and (max-width: ($medium-breakpoint)) {

	// Homepage
	
	#home-calls-container {
		img {display:block;width:100%;height:auto;}
		// .row {margin-bottom:rem-calc(30);}
		#cfa-downloads {margin-bottom:rem-calc(30);}
		#cfa-standard {margin-bottom:rem-calc(30);}
	}
	
	#the-category-item-1 .the-category-item-image:after, #the-category-item-2 .the-category-item-image:after {display:none;}

	.col5:nth-child(1), .col5:nth-child(2), .col5:nth-child(3) {width:33.33%;}
	.col5:nth-child(4), .col5:nth-child(5) {width:50%;}
	
	.wpsl-store-location, .wpsl-direction-wrap {float:none ! important;width:auto ! important;padding:0 ! important;}
	#stockist-table-top {
		display:none;
	}
	
	#the-category-item-2, #the-category-item-3 {
		h3 span:before {display:none;}
	}

}

@media only screen and (max-width: ($small-breakpoint)) {

	// Homepage
	
	.the-category-item {margin-bottom:rem-calc(30);}
	
	.home .homepage-offers-container h3, .cms-home .homepage-offers-container h3 {position:relative ! important;}
	.home .homepage-offers-container .ion-chevron-right, .cms-home .homepage-offers-container .ion-chevron-right {top:20% ! important;}
	
	
	.homepage-offers-slider {
		position:relative;
	    // .slick-dots {z-index:2;width:auto;padding:rem-calc(0 0 0 10);bottom:rem-calc(50) ! important;}
	}

	.col5:nth-child(1), .col5:nth-child(2), .col5:nth-child(3) {float:none;width:100%;display:block;margin:rem-calc(0 0 20);}
	.col5:nth-child(4), .col5:nth-child(5) {float:none;width:100%;display:block;margin:rem-calc(0 0 20);}
	
	#footer-mid-container {
		li {float:left;width:50%;margin:rem-calc(0) ! important;}
	}

}