// Homepage

.home, .cms-home {
	.top-bar-container, .tab-bar {border-bottom:rem-calc(1) solid $white;}
	.entry-title {color:$mex-yellow;text-transform:uppercase;font-size:rem-calc(20);font-family:$font-serif-medium;}
	.homepage-slider-container {background:$black;}
	
	.homepage-slider {
		.slick-arrow {transition:all 350ms ease-in-out;opacity:0 ! important;}
	}
	
	.homepage-slider:hover {
		.slick-arrow {transition:all 350ms ease-in-out;opacity:1 ! important;}
	}
	.homepage-slider {
		video {display:block;width:100%;height:auto;}
	}
	// .homepage-slider {}
	#homepage-content {
		border-top:rem-calc(1) solid $white;
		padding:rem-calc(30 0);
		p {color:$white;margin:rem-calc(0 0 10);}
	}
	.home-category-item {
		text-align:center;
		h3 {display:inline;text-align:center;transition:all 350ms ease-in-out;position:relative;padding:rem-calc(0 15 0 50);font-size:rem-calc(30);text-transform:none;font-family:$font-family-sans-serif;}
		h3:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(15);bottom:rem-calc(-11);z-index:-1;font-size:rem-calc(40);}
		h3:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(1);bottom:rem-calc(1);background:$mex-light-blue;width:rem-calc(32);height:rem-calc(32);border-radius:rem-calc(16);z-index:-2;}
	}
	
	.the-category-item-image {display:block;position:relative;}

	#the-category-item-2 .the-category-item-image {
		border-left:rem-calc(1) solid $mex-dark-blue;
		border-right:rem-calc(1) solid $mex-dark-blue;
	}
	
	#the-category-item-2, #the-category-item-3 {
		h3 span:before {content:"Diamond";margin-right:rem-calc(7);}
	}

	.home-category-item:hover {
		h3:after {transition:all 350ms ease-in-out;right:0;width:100%;}
	}
	#home-product-categories {padding:rem-calc(30 0);}
	#home-product-categories img {margin-top:rem-calc(20);}
	
	#homepage-calls-for-action {
		background:$mex-blue;
		padding:rem-calc(30 0);
		#cfa-quick-offers {margin-bottom:rem-calc(30);}
		.small-home-calls {
			h3 {position:relative;background:$mex-dark-blue;color:$white;font-size:rem-calc(18);font-family:$font-serif-medium;text-transform:uppercase;margin:0;padding:rem-calc(10 50 10 20);text-align:right;}
			.ion-chevron-right {position:absolute;top:rem-calc(3);right:rem-calc(20);font-size:rem-calc(30);}
		}
	}
	
	.homepage-offers-container {
		position:relative;
		h3 {position:absolute;text-align:right;bottom:0;right:0;left:0;background:$mex-dark-blue;color:$white;font-size:rem-calc(18);font-family:$font-serif-medium;text-transform:uppercase;margin:0;padding:rem-calc(10 50 10 20);}
		h3 a {
			color:$white;
		}
		.ion-chevron-right {position:absolute;top:rem-calc(3);right:rem-calc(20);font-size:rem-calc(30);}
	}
	
	.homepage-offers-slider {
		position:relative;
	    .slick-dots {z-index:2;width:auto;padding:rem-calc(0 0 0 10);bottom:rem-calc(3);}
		.slick-dots li.slick-active button::before {color:$mex-light-blue;}
		.slick-dots li button::before {font-size:rem-calc(20);opacity:1;color:$mex-blue;}
	}
	
}

// FAQ

.page-template-page-faq {

	// #sidebar {width:32% ! important;right:68% ! important;}
	
	.header-search {margin:0;}
	.entry-content {
	
	.faq-show-all {display:block;}
	.faq-close-all {display:none;}
	.common-issues-list {color:$mex-dark-blue;}
	
	.show-all-in-group .faq-show-all {display:none;}
	.show-all-in-group .faq-close-all {display:block;}
	
		.accordion-item-title {
			position:relative;
			padding:rem-calc(5 15);
			// margin:rem-calc(0 0 10);
			border:rem-calc(1) solid $mex-dark-blue;
			color:$mex-dark-blue;
		}
		
		.accordion-item-title:after {font-family:$ionicons-font-family;content:$ionicon-var-ios-plus-empty;position:absolute;top:rem-calc(-10);right:rem-calc(15);font-size:rem-calc(35);}
		
		.accordion-navigation.active .accordion-item-title {
			background: $mex-dark-blue;
			color: $white;
		}
		
		.accordion-navigation {margin:rem-calc(0 0 10) ! important;}
		.accordion-navigation.active {margin:rem-calc(0 0 20) ! important;}
		.accordion-navigation .content {background:$silver;}
		
		.accordion-navigation.active .accordion-item-title:after {content:$ionicon-var-ios-close-empty;}
		
		.faq-toggle {cursor:pointer;text-transform:uppercase;position:absolute;bottom:rem-calc(5);right:0;width:rem-calc(90);color:$mex-dark-blue ! important;text-align:right;font-size:rem-calc(14);}
		.faq-closed:before {position:relative;top:rem-calc(3);font-family:$ionicons-font-family;content:$ionicon-var-ios-plus-empty;margin:rem-calc(0 5 0 0);font-size:rem-calc(20);color:$mex-dark-blue ! important;}
		.faq-opened:before {position:relative;top:rem-calc(3);font-family:$ionicons-font-family;content:$ionicon-var-ios-close-empty;margin:rem-calc(0 5 0 0);font-size:rem-calc(20);color:$mex-dark-blue ! important;}
	
	}
	
	.faq-group {
		h4 {
			text-transform:uppercase;
			font-size:rem-calc(24);
			color:$mex-dark-blue;
		}
		h2 {font-size:rem-calc(32);}
		.toggle-all-wrapper {position:relative;}
	}
	
}

.accordion .accordion-navigation > .content,
.accordion dd > .content {
display:block;
overflow:hidden;
max-height:0;
padding:0 1rem ! important;
transition:max-height 500ms, padding 500ms 250ms;
}

.accordion .accordion-navigation.active > .content,
.accordion.active dd > .content {
max-height:999px;
padding:1rem ! important;
transition:max-height 500ms, padding 250ms;
}

// Contact Us

.page-template-page-contact {
	
	.header-search {margin:0;}
	.map-embed {margin:rem-calc(0 0 40);position:relative;}
	.map-overlay {position:absolute;top:0;right:0;bottom:0;left:0;}
	// .cu-form-2col {float:left;width:50%;} 
	// .cu-form-2col input {width:75%;}
	.wpcf7-submit {background:$mex-light-blue;border:rem-calc(1) solid $mex-dark-blue;padding:rem-calc(3 100);color:$mex-dark-blue;text-transform:uppercase;font-family:$font-serif-medium;}
	.entry-content input[type="text"], 
	.entry-content input[type="tel"], 
	.entry-content input[type="email"], 
	.entry-content textarea {
	background:$mex-light-blue;box-shadow:none;border:none;color:$white;font-family:$font-serif-medium;
	}
	
	.entry-content input[type="text"], 
	.entry-content input[type="tel"], 
	.entry-content input[type="email"] {width:75%;}
	
	.entry-content {
		::-webkit-input-placeholder {
			color: $white;
			opacity:1;
		}
		:-moz-placeholder {
			color: $white;
			opacity:1;
		}
		::-moz-placeholder {
			color: $white;
			opacity:1;
		}
		:-ms-input-placeholder {
			color: $white;
			opacity:1;
		}	
		.wpcf7-form {margin:rem-calc(0 0 20);}
		hr {border-width:rem-calc(2 0 0);}
	}
	
	.contact-page-details {
		.contact-fax-item {margin:0;}
		address {margin:rem-calc(0 0 20);font-style:normal;color:$mex-dark-blue;}
		.empt-item {font-family:$font-serif-medium;}
	}
	
	.sales-team-member {
		h4 {font-family:$font-serif-medium;margin:0;color:$mex-dark-blue;}
		h5 {margin:0;color:$mex-dark-blue;}
		hr {margin:rem-calc(10 0 20);color:$mex-dark-blue;}
		p {margin:0;color:$mex-dark-blue;line-height:1em;}
		.team-member-email {position:relative;}
		.team-member-email:before {position:absolute;bottom:rem-calc(-1);left:0;width:0;content:"";height:rem-calc(1);background:$mex-dark-blue;transition:all 350ms ease-in-out;}
		.team-member-email:hover:before {width:100%;right:0;}
		margin:rem-calc(0 0 30);
	}
	
	#team-members-row {
		margin:rem-calc(0 -45);
		h2 {font-size:rem-calc(36);margin:rem-calc(0 0 20);}
		.columns {padding-left:rem-calc(45);padding-right:rem-calc(45);}
	}
	
}

// Stockist Downloads

#the-download-items {
	a {padding:rem-calc(5);background:scale-color($mex-light-blue, $lightness:10%);text-transform:uppercase;font-family:$font-serif-medium;transition:all 350ms ease-in-out;margin-top:rem-calc(5);}
	a:hover {color:$mex-dark-blue ! important;}
}

// Mexco In Action

.page-template-page-mexco-in-action {

.header-search {margin:rem-calc(0 0 40);}

	// .entry-header {position:absolute;left:rem-calc(-9999);}
	.in-action-item {
		h2 {line-height:rem-calc(20);font-size:rem-calc(30);margin:rem-calc(0 0 20);color:$mex-dark-blue;}
		iframe {width:100%;height:rem-calc(500);}
		margin:rem-calc(0 0 25);
	}
	.in-action-item:not(:last-of-type) {
		border-bottom:rem-calc(1) solid $mex-dark-blue;
	}

}

// A Guide To ....

.page-template-page-a-guide-to {

.header-search {margin:rem-calc(0 0 40);}

	// .entry-header {position:absolute;left:rem-calc(-9999);}
	.a-guide-to-item {
		h2 {line-height:rem-calc(36);font-size:rem-calc(36);margin:rem-calc(0 0 20);color:$mex-dark-blue;}
		iframe {width:100%;}
		margin:rem-calc(0 0 25);
	}
	.a-guide-to-item:not(:last-of-type) {
		border-bottom:rem-calc(1) solid $mex-dark-blue;
	}
	
	.guide-item-heading {width:87%;}
	
	.a-guide-to-item {
		.row {position:relative;}
		.slide-link-small {position:absolute ! important;left:rem-calc(20);bottom:rem-calc(20);}
		.large-3 {position:static;}
	}

}

.page-template-page-find-a-stockist {

	.header-search {margin:0;}

	#wpsl-result-list {float:none;display:block;width:auto;}
	#wpsl-gmap {float:none;display:block;width:auto;}
	#wpsl-search-wrap {float:none;width:auto;}
	.wpsl-search {margin:0;background:transparent url(../images/texture.jpg) repeat top left;}
	#wpsl-search-wrap div label {float:none;display:block;width:auto;color:$mex-dark-blue;font-family:$font-serif-medium;font-size:rem-calc(18);}
	#wpsl-search-btn {float:none;display:block;padding:rem-calc(4.5 70);background:none;font-family:$font-serif-medium;box-shadow:none;text-shadow:none;border-radius:0;border:rem-calc(1) solid $mex-dark-blue;color:$mex-dark-blue;text-transform:uppercase ! important;}
	#wpsl-search-wrap input {border-radius:0;border:rem-calc(1) solid $mex-dark-blue;}
	#wpsl-result-list p {padding:0;}
	#wpsl-direction-details, #wpsl-stores {height:auto ! important;min-height:rem-calc(300);}
	#wpsl-wrap #wpsl-result-list li {padding:rem-calc(10 0);}
	#wpsl-new-result {font-size:rem-calc(38);margin:rem-calc(30 0);font-weight:normal;font-family:$font-family-sans-serif;}
	#wpsl-nostockist1 {font-size:rem-calc(24);line-height:rem-calc(24);margin:rem-calc(30 0 0);}
	#wpsl-nostockist2 {font-size:rem-calc(16);margin:0;color:$mex-dark-blue;}
	#wpslns-link1 {color:$mex-blue;}
	#wpslns-link2 {font-family:$font-serif-medium;}
	#wpsl-stores ul li.no-results {display:none ! important;}
	.wpsl-store-location p {color:$mex-dark-blue;}
	.wpsl-store-location, .wpsl-direction-wrap {float:left;width:50%;padding:rem-calc(0 30);}
	#stockist-table-top {
		background:transparent url(../images/texture.jpg) repeat center;
		margin:rem-calc(30 0 0);
		padding:rem-calc(25 0);
		p {margin:0;font-size:rem-calc(24);text-transform:none;}
	}
	.wpsl-directions {display:inline;clear:both;position:relative;}
	.wpsl-directions:before {content:" - ";}
	.wpsl-directions:after {position:absolute;bottom:rem-calc(-1);left:0;width:0;content:"";height:rem-calc(1);background:$mex-dark-blue;transition:all 350ms ease-in-out;}
	.wpsl-directions:hover:after {width:100%;right:0;}

}

.page-template-page-application-charts {
	.header-search {margin:0}
	.application-chart {
		position:relative;
		padding:rem-calc(0 0 20);
		margin:rem-calc(0 0 20);
		img {display:block;width:100%;height:auto;margin:rem-calc(0 0 20);}
		.slide-link-small {margin-left:0 ! important;}
	}
	.application-chart:not(:last-of-type):after {position:absolute;content:"";left:0;bottom:0;width:80%;border-bottom:rem-calc(1) solid $mex-dark-blue;}
}

// Mexco Account Registration

#mexco-registration {
	// .buttons-set{padding:rem-calc(0 20);outline:1px solid red;}
	ul {list-style:none;margin:0;}
	#mexco-account-back-button {background-color:$mex-blue;}
	#mexco-account-submit-button {margin-left:rem-calc(10);}
}

// Mexco Products

.page-template-mexco-products {

.header-search {margin:rem-calc(0 0 40);}

	.pb-image-title-content {
		img {display:block;margin:0 auto;}
		h3 {background:$mex-dark-blue;color:$white;text-align:center;font-size:rem-calc(18);padding:rem-calc(3);}
		h3 em {font-style:normal;color:#d9b451;}
	}
	
	.pb-title-content {
		a{color:$mex-blue;}
	}
	
	.pb-title-image {
		img {display:block;margin:0 auto;}
		h3 {font-size:rem-calc(24);font-family:$font-family-sans-serif;text-transform:capitalize;text-align:center;}
	}
	
	.pb-list-content {
		h3 {margin:0;}
	}

}

// Left Sidebar

.page-template-page-sidebar-left {

	.header-search {margin:0;}

	// #sidebar {width:32% ! important;right:68% ! important;}
	.entry-content {
		h2 {font-size:rem-calc(36);}
		.alignnone {width:100%;}
	}

}

// Global Left Sidebar Pages

#content-row {
	#row-stretch {margin-left:rem-calc(-5);margin-right:rem-calc(-5);}
	.large-push-3.columns {padding-left:rem-calc(20);padding-right:rem-calc(20);}
	.large-pull-9.columns {padding-left:rem-calc(20);padding-right:rem-calc(20);}
}