// Add some whitespace between top bar and content

.top-bar-container, .tab-bar {

	// Temporary Menu Removes
	
	.menu-item-175, .menu-item-217 {display:none;}

	position:relative;

	@media only screen and (max-width: ($topbar-breakpoint)) {
		.top-bar-left {
			li.name {

			}

			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				left: 0;
			}

		}

		.top-bar-right {
			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				right: 0;
			}
		}
		
		.top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {clip:auto;}
		.category-menu-info {display:none;}
	}
}

.site-logo {position:relative;z-index:1;display:block;margin:0 auto;}

.left-small {
	border-right: 0;
}

.right-small {
	border-left: 0;
}

.top-bar .name {
	h1 a { font-weight: 500;text-align:center;width:100%; }
}

.top-bar .title-area {float:none;}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

.top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
	clip: rect(1px, 1px, 1px, 1px);
}

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {

	.menu-item-179 {float:right;}

	.site-logo {top:rem-calc(7.5);}

	// Remove Menu Back Button

	li.title.back.js-generated {display:none;}
	
	.top-bar-section .has-dropdown > a::after {display:none;}
	.top-bar-section .has-dropdown > a {padding-right:2.08333rem ! important}

	// Top bar

	.tab-bar { display: none; }
	.top-bar .name {position:absolute;top:0;left:0;right:0;text-align:center;}
	.divider {display:none;}

	// Top Bar Menu Positions

	.top-bar-menu.right {float:right;}
	.top-bar-menu.left {float:left;}
	
	/*
	.menu-hotspot {
	overflow:hidden;
	max-height:0;
	transition:max-height 2000ms ease-out;
	}
	.menu-hotspot.active-spot {
	max-height:999px;
	transition:max-height 1000ms ease-in;
	}
	*/
	
	.menu-hotspot {position:relative;}
	
	.menu-hotspot .row {
	}

	// Top Level Menu

	.top-bar-section ul li {position:relative;}
	.top-bar-section ul li:not(.has-form) a:not(.button) {position:relative;}
	
	// Top Level Active
	/*
	.top-bar-section ul li.active:not(.has-form):not(.has-dropdown) a:not(.button):before {
	position:absolute;
	bottom:35%;left:rem-calc(32);right:rem-calc(32);
	content:"";
	border-bottom:rem-calc(3) solid $white;
	} 
	*/
	
	
	.top-bar-section ul li:after {
	position:absolute;
	bottom:35%;left:50%;right:50%;
	content:"";
	border-bottom:rem-calc(3) solid transparent;
	transition:left 500ms, right 500ms;
	}
	
	.top-bar-section ul li.active:not(.has-form):not(.has-dropdown):after,
	.top-bar-section ul li:hover:after {
	left:rem-calc(32);
	right:rem-calc(32);
	border-bottom:rem-calc(3) solid $white;
	}
	
	
	
	/*
	.top-bar-section ul li.active:not(.has-form) a:not(.button):before {position:absolute;bottom:35%;left:rem-calc(32);right:rem-calc(32);content:"";border-bottom:rem-calc(3) solid $white;} 
	*/
	
	// Top Level Hover with Dropdown
	// .top-bar-section ul li.has-dropdown:hover:not(.active) a:before {position:absolute;bottom:35%;top:auto;left:rem-calc(32);right:rem-calc(54);width:auto;content:"";height:rem-calc(3);background:$white;transition:all 350ms ease-in-out;}
	/*
	.top-bar-section ul li:hover:not(.active) a:before {position:absolute;bottom:35%;left:rem-calc(34);top:auto;right:rem-calc(34);width:auto;content:"";height:rem-calc(3);background:$white;transition:all 350ms ease-in-out;}
	*/
	// .top-bar-section ul li.has-dropdown:hover:not(.active) a:after {position:absolute;bottom:35%;top:auto;left:50%;right:0;width:auto;content:"";height:rem-calc(3);background:$white;border:none;transition:all 350ms ease-in-out;}
	
	// Top Level Hover without Dropdown
	/*
	.top-bar-section ul li:hover:not(.active):not(.has-dropdown) a:before {position:absolute;bottom:35%;left:rem-calc(34);top:auto;right:rem-calc(34);width:auto;content:"";height:rem-calc(3);background:$white;transition:all 350ms ease-in-out;}
	*/
	
	// .top-bar-section ul li:hover:not(.active):not(.has-dropdown) a:after {position:absolute;bottom:35%;top:auto;left:50%;right:rem-calc(32);width:auto;content:"";height:rem-calc(3);background:$white;border:none;transition:all 350ms ease-in-out;}
	
	// .top-bar-section ul .menu-item-has-children.active:not(.has-form) a:not(.button):after {display:none;} 
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {background:$mex-blue;}

	// Sub Menu for Icon Navigation --- Don't Delete any of these commented out styles.
	
	.tri-menu-child {position:relative;}
	.tri-menu-child .sub-menu:before {content:"";position:absolute;left:-100%;top:0;right:0;bottom:0;z-index:-1;background:$mex-blue;}
	.tri-menu-child .sub-menu:after {content:"";position:absolute;right:-100%;top:0;left:0;bottom:0;z-index:-1;background:scale-color($mex-blue, $lightness:-40%);}
	.menu-hotspot .dropdown {display:block;list-style:none;margin:0;padding:0;}
	.tri-menu-child .dropdown li a {padding:rem-calc(50 30);display:block;color:$white;font-size:rem-calc(24);}
	.tri-menu-child .dropdown li {float:left;width:50%;}
	// .top-bar-section .tri-menu-parent .dropdown li {float:left;width:33.33%;}
	// .menu-hotspot.tri-menu-child .dropdown {position:absolute;left:0;right:0;}
	
	// Sub item 1
	.tri-menu-child .dropdown li:nth-child(3n+2):not(.has-form) > a:not(.button) {
	background:$mex-blue url(../images/icons/info-icon.png) no-repeat ! important;
	background-position:80% 50% ! important;
	background-size:auto 70% ! important;
	}

	// Sub Item 2
	.tri-menu-child .dropdown li:nth-child(3n+0):not(.has-form) > a:not(.button) {
	background:scale-color($mex-blue, $lightness:-40%) url(../images/icons/saw-icon.png) no-repeat ! important;
	// background:scale-color($mex-blue, $lightness:-20%) url(../images/icons/saw-icon.png) no-repeat ! important;
	background-position:80% 50% ! important;
	background-size:auto 70% ! important;
	}

	// Sub Item 3
	.tri-menu-child .dropdown li:nth-child(3n+1):not(.has-form) > a:not(.button) {
	background:scale-color($mex-blue, $lightness:-40%) url(../images/icons/play-icon.png) no-repeat ! important;
	background-position:80% 50% ! important;
	background-size:auto 70% ! important;
	display:none;
	}
	
	// Top Menu / Mage Categories
	
	.menu-hotspot.product-range {
		background:$mex-blue;
		position:relative;
	}

	.product-nav-wrapper {
	
		// Top Level

		.product-category-has-child {float:left;width:25%;}
		.product-category-has-child a {display:block;color:$white;text-align:center;}
		.product-category-has-child:hover:not(.has-form) > a:not(.button) {z-index:2;}
		.product-category-has-child:hover:not(.has-form) > a:not(.button), .product-category-has-child.current-menu-item {position:relative;background:$white;color:$mex-dark-blue;}

		.product-category-has-child:hover:not(.has-form) > a:not(.button):before, .product-category-has-child.current-menu-item:before {
			position:absolute;
			left:rem-calc(-38);bottom:0;
			width:rem-calc(30);
			height:rem-calc(30);
			content:"";
			background:transparent url(../images/icons/nav-item-before.png) no-repeat bottom left;
			background-size:auto 100%;
			margin-left:rem-calc(10);
		}

		.product-category-has-child:hover:not(.has-form) > a:not(.button):after, .product-category-has-child.current-menu-item:after {
			display:inline;
			position:absolute;
			right:rem-calc(-38) ! important;
			left:auto ! important;
			bottom:rem-calc(0);
			height:rem-calc(30);
			width:rem-calc(30);
			content:"";
			background:transparent url(../images/icons/nav-item-after.png) no-repeat bottom right;
			background-size:auto 100%;
			padding:0;
			border:none;
			z-index:1;
			margin-right:rem-calc(10);
		}
		position:relative;
		.product-category-has-child.active:not(.has-form) a:not(.button), li.active:not(.has-form):not(.button) {color:$mex-dark-blue;}
		.product-category-has-child.active:hover:not(.has-form) a:not(.button), .product-category-has-child.active:hover:not(.has-form):not(.button) {background:$white;}

	}
	
	// 2nd Level
	
	.menu-hotspot.product-range .category-menu-info-bg {position:absolute;top:rem-calc(30);right:0;bottom:0;left:0;background:$white;z-index:0;border:none;}
	
	.product-menu-hotspot .category-menu-info {display:block;}
	.category-menu-info {
		position:relative;
		display:none;
		overflow:hidden;
		background-color:$white;
		min-height:rem-calc(350);
		padding:rem-calc(20 0);
		z-index:2;
		h4 {display:inline;font-size:rem-calc(36);transition:all 350ms ease-in-out;}
		h4:hover {border-bottom:rem-calc(4) solid $mex-blue;}
		p {margin:rem-calc(20 0 0);}
		img {margin-top:rem-calc(30);}
		// border-bottom:rem-calc(1) solid $iron;
		.medium-4 {position:relative;z-index:1;}
	}
	.category-menu-info .row {position:relative;z-index:2;}
	
	.category-menu-name-background-wrap {
		position:absolute;
		bottom:0;top:0;left:0;right:0;
		z-index:0;
	}
	
	.category-menu-name-background-wrap-inner {
		display:table;
		width:100%;height:100%;
		opacity:0.1;
	}

	.category-menu-name-background {
		display:table-cell;
		vertical-align:middle;
		width:100%;
		height:100%;
		font-size:rem-calc(147);
		font-weight:bold;
		font-family:$font-family-helvetica-two;
		transform : scale(1,1.5);
		text-transform:uppercase;
	}
	
	// Mage Product Navigation

	.mage-product-navigation {
		list-style:none;
		margin:0;
		li {display:block;float:none;width:auto;background:none;}
		li a {background:none;padding:0;color:$mex-dark-blue;font-size:rem-calc(14);font-family:$font-serif-medium;}
		li a:before, li a:after {display:none;}
	}
	
	.product-nav-description, .product-nav-image {display:none;}
	
	.mage-product-navigation li a:hover .product-nav-description {display:block;}

	/*.has-dropdown.product-menu-nav {position:static;} === look here tony */
	
	.product-menu-nav .dropdown li {float:left;width:25%;}
	.left .product-menu-nav .dropdown {position:absolute;left:0;right:0;}
	.product-nav-wrapper {
	display:block;width:50%;margin:0 auto;	
	}

	.product-nav-wrapper li.active:not(.has-form) a:not(.button),
	.product-nav-wrapper li:not(.has-form) a:not(.button),
	.dropdown .product-nav-wrapper li a {padding:rem-calc(0 10) ! important;line-height:rem-calc(30) ! important;height:auto ! important;text-align:center;}
	
	// Login Menu Item

	.toggle-the-canvas.menu-item a {position:relative;}

	.toggle-the-canvas.menu-item a:after {
		content:"";
		position:absolute;
		top:rem-calc(30);right:rem-calc(-10);
		width:rem-calc(34);
		height:rem-calc(35);
		background:transparent url(../images/icons/login-icon.png) no-repeat center;
	}
	

}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  body.offcanvas .top-bar { display: none; }
}

// Canvas Toggles

.cart-toggle {
	position:absolute;
	top:100px;right:0;
	font-size:rem-calc(30);
	padding:5px;
	border:1px solid $silver;
	width:rem-calc(50);
	height:rem-calc(50);
	text-align:center;
	z-index:1;
}

.account-toggle {
	position:absolute;
	top:170px;right:0;
	font-size:rem-calc(30);
	padding:5px;
	border:1px solid $silver;
	width:rem-calc(50);
	height:rem-calc(50);
	text-align:center;
}

// Search

.home .header-search {
	border:none;
}

/*
.header-search {
	border-top:rem-calc(1) solid $white;
	padding:rem-calc(14 0 10);
	background:$mex-blue;
	margin:rem-calc(0 0 20);
	input {margin:0;}
	.collapse {	position:relative;}
	#s {
		border-radius:rem-calc(17);
		text-align:center;
		text-transform:uppercase;
	}
	.header-search-submit {position:absolute;top:rem-calc(3);right:rem-calc(3);bottom:rem-calc(3);border-radius:rem-calc(17);background:$mex-blue;width:rem-calc(30);}
	#searchsubmit {display:block;position:relative;z-index:2;text-indent:rem-calc(-9999);padding:0;border:none;width:rem-calc(30);background-color:transparent;height:rem-calc(32);}
	.header-search-submit .fa {color:$white;text-align:center;position:absolute;top:rem-calc(6);right:0;bottom:0;left:0;font-size:rem-calc(18);}
	#header-search-wrapper {position:relative;width:70%;margin:0 auto;}
	
	.skip-cart .fa-stack {
		.fa-circle {color:$mex-light-blue}
		.fa-shopping-cart {color:$mex-dark-blue ! important;}
	}
	.skip-cart .count-subtotal {color:$white;}
	.skip-cart .your-basket {color:$white;}
	#the-header-cart {
		text-align:right ! important;
	}
}
*/

.header-search {
	border-top:rem-calc(1) solid $white;
	padding:rem-calc(14 0 10);
	background:$mex-blue;
	margin:rem-calc(0 0 20);
	#header-search-wrapper {
		position:relative;
		top:rem-calc(5);
	}
	
	#s {background:none;border-top:none;border-left:none;border-right:none;border-bottom:rem-calc(1) solid $white;box-shadow:none;padding:0;height:auto;color:$white;}
	
	:-webkit-input-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:-moz-placeholder {
		color: $white;
		opacity:  1;
	}
	
	::-moz-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:-ms-input-placeholder {
		color: $white;
		opacity:  1;
	}
	
	:placeholder-shown {
		color: $white;
		opacity:  1;
	}
	
	
	.header-search-submit {position:absolute;top:0;right:0;bottom:0;height:rem-calc(30);}
	#searchsubmit {display:block;position:relative;z-index:1;background:none;border:none;text-indent:rem-calc(-9999);}
	.fa-search {display:block;color:$white;position:absolute;top:0;right:0;bottom:0;}
	
	.skip-cart .fa-stack {
		.fa-circle {color:$mex-light-blue}
		.fa-shopping-cart {color:$mex-dark-blue ! important;}
	}
	.skip-cart .count-subtotal {color:$white;}
	.skip-cart .your-basket {color:$white;}
	#the-header-cart {
		text-align:right ! important;
	}
}

.catalog-category-view .header-search, .catalog-product-view .header-search {margin:0;}


.header-search-container {
	.row {position:relative;}
}

.header-special-offers {
	color:$white;
	.ionToggleButton {
		cursor:pointer;
		font-size:rem-calc(20);
		color:$white;
		line-height:rem-calc(30);
		text-transform:uppercase;
		font-family:$font-serif-medium;
	}
	.ionToggleButtonLogin {
		cursor:pointer;
		font-size:rem-calc(20);
		color:$white;
		line-height:rem-calc(40);
		text-transform:uppercase;
		font-family:$font-serif-medium;
	}
	.fa {position:relative;top:rem-calc(4);font-size:rem-calc(30);margin:rem-calc(0 10 0 0);}
}

// Offers Box

.offers-header {
	display:none;
	padding:rem-calc(20 0);
	ul {
		li {color:$mex-blue;font-size:rem-calc(24);}
	}
}