<?php echo $this->getChildHtml('head') ?>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('header') ?>
<?php echo $this->getChildHtml('below_header') ?>
<?php echo $this->getChildHtml('breadcrumbs') ?>

<div class="row">
	<div class="small-12 large-9 large-push-3 columns" role="main">
		<article>
			<div class="entry-content">
			<?php echo $this->getChildHtml('global_messages') ?>
			<?php echo $this->getChildHtml('content') ?>
			</div>
		</article>
	</div>
	<aside id="sidebar" class="small-12 large-3 columns large-pull-9">
		<?php do_action( 'foundationpress_before_sidebar' ); ?>
		<?php echo $this->getChildHtml('left') ?>
		<?php do_action( 'foundationpress_after_sidebar' ); ?>
	</aside>
</div>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>