<?php echo $this->getChildHtml('head') ?>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php get_template_part('parts/login-offcanvas-mage'); ?>
<?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('header') ?>
<?php echo $this->getChildHtml('below_header') ?>
<?php echo $this->getChildHtml('breadcrumbs') ?>

<div class="row">
	<aside id="sidebar-left" class="small-12 large-2 columns">
		<?php echo $this->getChildHtml('left') ?>
	</aside>
	<div class="small-8 large-centered columns" role="main">
		<article>
			<div class="entry-content">
			<?php echo $this->getChildHtml('global_messages') ?>
			<?php echo $this->getChildHtml('content') ?>
			</div>
		</article>
	</div>
	<aside id="sidebar-right" class="small-12 large-2 columns">
		<?php echo $this->getChildHtml('right') ?>
	</aside>
</div>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
<?php /* <script type="text/javascript" src="<?php echo get_template_directory_uri() . '/assets/javascript/foundation.js'; ?>"></script> */ ?>
</body>
</html>