<?php
/**
 * The template for displaying the footer
 *
 * Contains the closing of the "off-canvas-wrap" div and all content after.
 *
 * @package WordPress
 * @subpackage FoundationPress
 * @since FoundationPress 1.0.0
 */

?>

</section>

<div id="newsletter-container">

	<?php echo $this->getChildHtml('the_newsletter') ?>

</div>

<?php do_action( 'foundationpress_before_footer' ); ?>

<footer>

	<div id="footer-top-container">

		<div class="row">

			<div class="columns col5">
				<h3>About Mexco</h3>
				<?php echo foundationpress_footer_about(); ?>
				<h3>Downloads</h3>
				<?php echo foundationpress_footer_downloads(); ?>
			</div>
			
			<div class="columns col5">
				<h3>Categories</h3>
				<?php echo $this->getChildHtml('bottomMenu') ?>
			</div>
			
			<div class="columns col5">
				<h3>Customer Services</h3>
				<?php echo foundationpress_footer_customer_services(); ?>
			</div>
			
			<div class="columns col5">
				<a class="footer-logo" href="<?php echo home_url(); ?>"><img class="site-logo" src="<?php the_field('site_logo', 'option'); ?>" alt="<?php bloginfo( 'name' ); ?>" /></a>
				<?php $footerContact = get_field('contact_details', 'option'); ?>
				<?php $footerContactCounter = 0; ?>
				<?php if(!empty($footerContact)): ?>
					<?php foreach($footerContact as $footerContactItem): ?>
					<?php $footerContactCounter++; ?>
						<a id="footer-contact-item-<?php echo $footerContactCounter; ?>" class="footer-contact-item" href="<?php echo $footerContactItem['contact_details_link']; ?>"><?php if($footerContactItem['contact_details_icon']): ?><?php echo $footerContactItem['contact_details_icon']; ?><?php endif; ?><?php echo $footerContactItem['contact_details_label']; ?></a>
					<?php endforeach; ?>
				<?php endif; ?>
			</div>
			
			<div class="columns col5">
				<h3>Join The Conversation</h3>
				<?php $socialNetworks = get_field('social_networks', 'option'); ?>
				<?php if(!empty($socialNetworks)): ?>
				
					<?php foreach($socialNetworks as $socialItem): ?>
					
						<a class="footer-social-link" href="<?php echo $socialItem['social_link']; ?>"><?php echo $socialItem['social_icon']; ?><span class="footer-social-link-label"><?php echo $socialItem['social_label']; ?></span></a>
					
					<?php endforeach; ?>
				
				<?php endif; ?>

			</div>
			
		</div>
		
	</div>

	<div id="footer-mid-container">

		<?php get_template_part('parts/footer-mid'); ?>

	</div>

	<div id="footer-bottom-container">

		<?php get_template_part('parts/footer-bottom'); ?>

	</div>

</footer>

<?php do_action( 'foundationpress_after_footer' ); ?>

<?php if ( get_theme_mod( 'wpt_mobile_menu_layout' ) == 'offcanvas' ) : ?>
<a class="exit-off-canvas"></a>
<?php endif; ?>

	<?php do_action( 'foundationpress_layout_end' ); ?>

<?php if ( get_theme_mod( 'wpt_mobile_menu_layout' ) == 'offcanvas' ) : ?>
	</div>
</div>
<?php endif; ?>

<?php wp_footer(); ?>
<?php do_action( 'foundationpress_before_closing_body' ); ?>
