<?php do_action( 'foundationpress_after_body' ); ?>

<?php if ( get_theme_mod( 'wpt_mobile_menu_layout' ) == 'offcanvas' ) : ?>
<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
<?php endif; ?>

<?php do_action( 'foundationpress_layout_start' ); ?>

<?php
	if ( get_theme_mod( 'wpt_mobile_menu_layout' ) == 'offcanvas' ) :
	get_template_part( 'parts/off-canvas-menu' );
	endif;
?>

<?php /* TOPBAR START */ ?>

<div class="top-bar-container contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area top-bar-<?php echo apply_filters( 'filter_mobile_nav_position', 'mobile_nav_position' ); ?>">
            <li class="name">
                <h1><a href="<?php echo home_url(); ?>"><img class="site-logo" src="<?php the_field('site_logo', 'option'); ?>" alt="<?php bloginfo( 'name' ); ?>" /></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
			<?php foundationpress_top_bar_l(); ?>
			<?php echo $this->getChildHtml('topMenu'); ?>
            <?php foundationpress_top_bar_r(); ?>
        </section>
    </nav>
</div>



<?php /* TOPBAR END */ ?>

<section class="container" role="document">
<?php do_action( 'foundationpress_after_header' ); ?>