<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>
<?php if($_menu): ?>
<div class="nav-container">
    <ul id="nav" class="sidebar-product-categories">
        <?php echo $_menu ?>
    </ul>
</div>
<?php endif ?>
