.customer-account-page {
	.block-account {
		.block-title {
			font-size:rem-calc(24);
			text-transform:uppercase;
			font-family:$font-serif-medium;
			margin:rem-calc(0 0 15);
			strong {font-weight:normal;}
		}
		ul {
			list-style:none;
			margin:0;
		}
		.block-content {
			li {padding:rem-calc(5 15);border:rem-calc(2) solid $mex-blue;display:block;text-align:center;margin:rem-calc(0 0 15);}
			li a {color:$mex-blue;display:block;}
			// li.last {margin:0;}
			li.current {border:rem-calc(2) solid $mex-dark-blue;color:$mex-dark-blue;}
			li.current a {color:$mex-dark-blue;}
		}
	}
	.my-account .form-list {list-style:none;margin:0;}
	.my-account .form-list .required em {color:red;margin-right:rem-calc(10);}
	.my-account h4 {font-family:$font-serif-medium;font-size:rem-calc(16);text-transform:uppercase;color:$mex-dark-blue;}
}

.review-customer-index .my-account p, .sales-order-history .my-account p, .wishlist-index-index .my-account p, .newsletter-manage-index .my-account p {padding:rem-calc(0 15);}

.review-customer-index .back-link, .sales-order-history .back-link, .wishlist-index-index .back-link, .newsletter-manage-index .back-link, .wishlist-empty {padding:0 ! important;}