.checkout-cart-index {
	.page-title h1 {float:left;}
	table tr.even, table tr.alt, table tr:nth-of-type(2n) {background:$white;}
	fieldset {padding:0;border:none;}
	.cart-table, #shopping-cart-totals-table {width:100%;}
	.cart-table tfoot .button {margin:rem-calc(0 0 0 10);}
	.cart-table tfoot {border-top:rem-calc(1) solid $gainsboro;}
	.cart-table thead {border-bottom:rem-calc(1) solid $gainsboro;}
	.cart-table tbody tr {border-bottom:rem-calc(1) solid $gainsboro;}
	.cart-table tbody .last {border-bottom:none}
	.entry-content h2 {font-size:rem-calc(24);}
	.entry-content ul {margin:0;list-style:none;}
	.btn-proceed-checkout {float:right;background:$primary-color;margin:0;}
	.btn-proceed-checkout:hover {background:scale-color($primary-color, $lightness: $button-function-factor);}
	.discount-form label {margin:rem-calc(0 0 10);}
	.discount-form .input-text {height:rem-calc(35);border:rem-calc(1) solid $gainsboro;}
	.cart-collaterals .btn-proceed-checkout {margin:rem-calc(0 0 20);}
	.the-qty-wrapper .qty {width:rem-calc(40);margin-top:rem-calc(17);}
	.cart-table .item-options .price {display:none;}
	#shopping-cart-table {
		.a-right.last {
			.button:first-of-type {margin-left:0;}
		}
		.qty-cart-column {width:rem-calc(70);}
		.a-center-favs {width:15%;}
	}
	
}