.catalog-category-view {
	
	.product-slide-link {
		display:inline;transition:all 350ms ease-in-out;position:relative ! important;padding:rem-calc(0 10 0 40) ! important;z-index:1;opacity:1.0 ! important;margin:0 ! important;color:$mex-dark-blue;background-color:transparent;
		span {position:relative;top:rem-calc(3);}
		cursor:pointer;
	}

	.product-slide-link:before {transition:all 350ms ease-in-out;font-family:$ionicons-font-family;content:$ionicon-var-ios-arrow-thin-right;position:absolute;left:rem-calc(13);bottom:rem-calc(-21);z-index:-1;font-size:rem-calc(35);}
	.product-slide-link:after {transition:all 350ms ease-in-out;content:"";position:absolute;left:0;top:rem-calc(1);background:$mex-light-blue;width:rem-calc(25);height:rem-calc(25);border-radius:rem-calc(15);z-index:-2;}
	.product-slide-link:hover:after {transition:all 350ms ease-in-out;right:0;width:100%;}
	
	.category-title h1 {margin:rem-calc(0 0 20);line-height:rem-calc(32);}
	.product-name {
		font-size:rem-calc(20);line-height:rem-calc(20);font-family:$font-serif-medium;text-transform:uppercase;margin:rem-calc(0 0 10);
	}
	
	.product-item-category {font-size:rem-calc(18);line-height:rem-calc(18);font-family:$font-family-sans-serif;margin:rem-calc(0);color:$mex-dark-blue;text-transform:uppercase;}
	
	.product-range-image {
		p {margin:0;}
		img {display:block;margin:rem-calc(5 0);width:60%;height:auto;}
	}
	
	.category-products div.row.products-grid.resulter div.products-item-result div.small-12.medium-6.large-4.columns.item {margin-bottom:rem-calc(30);}
	
}