.catalog-product-view, .review-product-list {

	.header-search {margin:0;}

	.product-name h1 {line-height:rem-calc(36);margin:rem-calc(0 0 20);}

	.the-quantity-container {
		background:$mex-light-blue;
		padding:rem-calc(9.5);
		text-align:center;
		border:rem-calc(1) solid $mex-dark-blue;
		margin:rem-calc(0 0 20);
		label {float:left;display:inline;width:auto;height:rem-calc(30);line-height:rem-calc(30);border:rem-calc(1) solid $mex-dark-blue;padding:rem-calc(0 5);background:$mex-dark-blue;color:$white;margin:0;}
		input[type="text"] {float:left;display:inline;width:auto;max-width:0;min-width:rem-calc(50);height:rem-calc(30);line-height:rem-calc(30);border:rem-calc(1) solid $mex-dark-blue;margin:0;}
	}
	
	.product-image {text-align:center;}
	
	.data-sheet-button {
		background:$mex-blue;
	}
	
	.product-range-image {
		margin:rem-calc(0 0 10);
		img {width:70%;height:auto;}
	}
	
	.product-options-bottom .price-box {display:none;}
	
	.product-stockist-button {
		color:$mex-dark-blue;
	}
	
	.product-gallery-slider {
		margin:rem-calc(0 0 15);
	}
	
	.product-options-bottom {margin:rem-calc(0 0 30);}
	.add-to-links {line-height:rem-calc(32);}
	
	.add-to-product-favs {
		.ion-ios-heart-outline {position:relative;top:rem-calc(7);font-size:rem-calc(32);margin:rem-calc(0 10 0 0);}
		margin:rem-calc(0 30 0 0);
	}
	
	.product-options-bottom {
		margin:rem-calc(0 0 30);
	}
	
	.share-the-product-page {
		cursor:pointer;
		font-size:rem-calc(18);
		.ion-android-share-alt {position:relative;top:rem-calc(7);font-size:rem-calc(32);margin:rem-calc(0 10 0 0);}
	}
	
	.share-the-product-page-container {
		display:none;
		margin:rem-calc(10 0);
		text-align:center;
		.fa {font-size:rem-calc(48);}
		.fa-facebook-square {color:#3b5998;}
		.fa-twitter-square {color:#00aced;}
		.fa-google-plus-square {color:#dc4e41;}
		.fa-pinterest-square {color:#bd081c;}
	}
	
	.no-rating {margin:rem-calc(20 0);}
	.no-rating a {font-size:rem-calc(18);font-family:$font-serif-medium;}
	
	#mexco-product-options {border-top:rem-calc(1) solid $iron;padding:rem-calc(30 0 0);}
	#product-login-help {font-size:rem-calc(24);margin:rem-calc(40 0);}
	
	.product-view {position:relative;}
	#product-back-button {position:absolute;top:0;right:0;z-index:1;}
	#product-back-button button {display:block;background:none;padding:0;}
	#product-back-button span {color:$black;font-size:rem-calc(72);line-height:rem-calc(72);}
	#configurable-price-from-2 {display:none;}
	.price-box {font-size:rem-calc(32);font-family:$font-serif-medium;}

}