/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

// Fonts

@font-face {
    font-family: 'PFSquareSansProRegular';
    src: url('../fonts/pf-square-sans-pro/pf_square_sans_pro_regular_wwww.font-cat.com-webfont.eot');
    src: url('../fonts/pf-square-sans-pro/pf_square_sans_pro_regular_wwww.font-cat.com-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_regular_wwww.font-cat.com-webfont.woff') format('woff'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_regular_wwww.font-cat.com-webfont.ttf') format('truetype'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_regular_wwww.font-cat.com-webfont.svg#PFSquareSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansProMedium';
    src: url('../fonts/pf-square-sans-pro/pf_square_sans_pro_medium_wwww.font-cat.com-webfont.eot');
    src: url('../fonts/pf-square-sans-pro/pf_square_sans_pro_medium_wwww.font-cat.com-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_medium_wwww.font-cat.com-webfont.woff') format('woff'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_medium_wwww.font-cat.com-webfont.ttf') format('truetype'),
         url('../fonts/pf-square-sans-pro/pf_square_sans_pro_medium_wwww.font-cat.com-webfont.svg#PFSquareSansProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreherosbold';
    src: url('../fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot');
    src: url('../fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreheroscnbold';
    src: url('../fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot');
    src: url('../fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.svg#texgyreheroscnbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// We use these to define default font stacks
$font-family-sans-serif: "PFSquareSansProRegular", Helvetica, Roboto, Arial, sans-serif;
$font-serif-medium: "PFSquareSansProMedium", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$font-family-helvetica-one: 'texgyreherosbold';
$font-family-helvetica-two: 'texgyreheroscnbold';

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Foundation color naming conventions
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$mex-dark-blue     : #002a5c;
$mex-blue          : #0079c2;
$mex-light-blue    : #c7d9f0;
$mex-yellow        : #ffdd00;
$mex-gray          : #dbe0e3;

// We use these as default colors throughout
$primary-color: $mex-dark-blue;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// We use these to control various global styles
$body-bg: $white;
$body-font-color: $jet;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;

// Set the link colors and styles for top-level nav
$topbar-link-weight: bold;
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white;

//$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: $mex-dark-blue;
$topbar-link-bg-color-hover: $jet;
$topbar-link-bg-active: $mex-dark-blue;
$topbar-link-bg-active-hover: $mex-dark-blue;

$topbar-link-font-size:rem-calc(14);
$topbar-link-text-transform:uppercase;

$topbar-link-font-family:$font-serif-medium;
$topbar-link-weight:normal;

$topbar-bg-color:$mex-dark-blue;

$topbar-height:rem-calc(100);

// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);
$row-width: em-calc(1280);
$topbar-breakpoint: $row-width;

// Breadcrumbs

$crumb-bg: transparent;
$crumb-font-size: rem-calc(14);
$crumb-font-transform: none;

// Sub Menu

$topbar-dropdown:transparent;

// Offcanvas

$off-canvas-bg: $mex-dark-blue;
$off-canvas-width: rem-calc(320);

// Headings

$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(16);
$h4-font-size: rem-calc(18);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;
// $header-line-height: 1;

// Responsive Text

$h1-font-reduction: 0;
$h2-font-reduction: 0;
$h3-font-reduction: 0;
$h4-font-reduction: 0;
// $h5-font-reduction: 0;
// $h6-font-reduction: 0;