<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<p class="product-image product-image-zoom">

    <?php
        $_img = '<a class="swipebox" href="' . $this->helper('catalog/image')->init($_product, 'image') . '"><img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image').'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" /></a>';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</p>
<?php /* 
<p class="zoom-notice" id="track_hint"><?php echo $this->__('Double click on above image to view full picture') ?></p>
<div class="zoom">
    <img id="zoom_out" src="<?php echo $this->getSkinUrl('images/slider_btn_zoom_out.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Zoom Out')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zoom Out')) ?>" class="btn-zoom-out" />
    <div id="track">
        <div id="handle"></div>
    </div>
    <img id="zoom_in" src="<?php echo $this->getSkinUrl('images/slider_btn_zoom_in.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Zoom In')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zoom In')) ?>" class="btn-zoom-in" />
</div>
*/ ?>
<?php /*
<script type="text/javascript">
//<![CDATA[
    Event.observe(window, 'load', function() {
        product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');
    });
//]]>
</script>
*/ ?>
<?php else: ?>
<p class="product-image">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(265).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</p>
<?php endif; ?>
<?php if (count($this->getGalleryImages()) > 0): ?>
    <div class="product-gallery-slider">
    <?php foreach ($this->getGalleryImages() as $_image): ?>
        <div>
            <a class="swipebox" href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image'); ?>" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"><img class="the-product-gallery-item" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(350); ?>" width="350" height="350" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" /></a>
        </div>
    <?php endforeach; ?>
    </div>
<?php endif; ?>
